

/* 
Karla Salamanca Rodriguez 
Feb 14 2024 
styles.css */ 

/* CSS Reset */ 


Body, header, nav, main, footer, img, h1, h3 { 

    margin: 0; 

    padding: 0; 

    Border: 0; 

} 

/* Style rules for body and images*/ 

body { 

    background-color: #f6eee4;
   
    
}

img {
   max-width: 100%;
   display: block;

}

/* Style rules for mobile viewport*/

.mobile {
   display: block;
/*is this correct?*/

}

/*Style rules to show mobile class and hide tab-desk class*/
.tablet-desktop {
    display: none; 
/*is this correct?*/

}

/*Style rules for header area*/

mobile, h1, {

padding: 2%;
text-align: center;

.emblema-one-regular {
  font-family: "Emblema One", system-ui;
  font-weight: 400;
  font-style: normal;
}

mobile, h3 {

.lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}





/* Style rules for navigation area */ 

nav { 

    background-color: #2a1f14; 

} 

nav ul { 

    list-style-type: none; 

    margin: 0; 

    text-align: center; 

} 

nav li { 

    display: inline-block; 

    font-size: 1.5em; 
    font-family: Geneva, Arial, san-serif;
    font-weight: bold;

} 

nav li a { 

    display: block; 

    color: #f6eee4; 

    padding-top: 0.5em; 
    padding-right: 2em;
    padding-bottom: 0.5;
    padding-left: 2em;
    text-decoration: none; 

} 

/* Style rules for main content */ 

main { 

    padding: 2%; 
    font-family: Verdana, Arial, sans-serif; 
    .lora-<uniquifier> {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 

main p { 

    font-size: 1.25em; 

} 

main h3 {
    padding-top: 2%;


}

main ul {
   list-style-type: square;
   
}

.link {

    color: #4d3319;
    text-decoration: none;
    font-weight: bold; 
    font-style: italic; 

}

.action { 

    font-size: 1.75em; 
    font-weight: bold; 
    text-align: center;

} 

#contact {
    text-align: center;
}

/* Style rules for footer content */

footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #2a1f14; 
    color: #f6eee4;
    padding-top: 1%;
    padding-right: 0%;
    padding-bottom: 1%;
    padding-left: 0%;


}


footer a {
    color: #f3e6d8;
    text-decoration: none;



}


